.footer-container {
  background-color: black;
  color: white;
  // width: calc(100vw);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__img {
    height: 40px;
    padding: 30px;
  }
}
