@use '../../Colors/Colors.scss';
@use '../../Main.scss';

.error-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: Colors.$color-1;
  @include Main.media-querries-phone {
    margin: 50px;
    gap: 50px;
  }
  &__title {
    margin-top: 0;
    font-size: 18em;
    margin-bottom: 40px;
    @include Main.media-querries-laptop {
      font-size: 10em;
      margin-bottom: 20px;
    }
  }
  &__descript {
    font-size: 36px;
    margin-top: 45px;
    font-weight: 500;
    @include Main.media-querries-laptop {
      font-size: 30px;
      margin-top: 20px;
    }
    @include Main.media-querries-phone {
      text-align: center;
      font-size: 18px;
    }
  }
  &__nav {
    color: black;
    text-decoration: underline;
    margin-top: 35px;
    margin-bottom: 21px;
  }
}
