@use '../../Colors/Colors.scss';

.error-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: Colors.$color-1;
  &__title {
    font-size: 18em;
    margin-bottom: 40px;
  }
  &__descript {
    font-size: 36px;
    margin-top: 75px;
    font-weight: 500;
  }
  &__nav {
    color: black;
    text-decoration: underline;
    margin-top: 75px;
  }
}
