@use './Fonts/Fonts.scss';

body {
  max-width: 1440px;
  margin: 50px auto;
  font-family: Fonts.$font-1;
  @media (max-height: 700px) {
    max-height: calc(100vh);
    margin: 25px auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
