@use './Fonts/Fonts.scss';

body {
  margin: 0;
  font-family: Fonts.$font-1;
  @media (max-height: 700px) {
    max-height: calc(100vh);
  }
  .page-content {
    max-width: 1440px;
    margin: 50px;
    // @media (max-height: 700px) {
    //   margin: 25px;
    // }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
