@use '../../Colors/Colors.scss';
@use '../../Main.scss';

.carouselle {
  position: relative;
  height: 480px;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  padding: 0;
  width: 100%;
  margin-top: 50px;
  color: Colors.$white;
  user-select: none;
  @include Main.media-querries-laptop {
    height: 380px;
  }
  @include Main.media-querries-phone {
    margin-top: 0;
    height: 255px;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__index {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 18px;
    @include Main.media-querries-phone {
      display: none;
    }
  }
  &__btn {
    position: absolute;
    font-size: 100px;
    top: 40%;
    @include Main.media-querries-phone {
      font-size: 25px;
      top: 50%;
    }
    &--left {
      left: 0;
      margin-left: 25px;
      @include Main.media-querries-phone {
        margin-left: 5px;
      }
    }
    &--right {
      right: 0;
      margin-right: 25px;
      @include Main.media-querries-phone {
        margin-right: 5px;
      }
    }
  }
}
