@use '../../Main.scss';

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 4em;
  margin-bottom: 25px;
  @include Main.media-querries-tablette {
    height: 3em;
  }
  img {
    @include Main.media-querries-phone {
      height: 3em;
    }
  }
}
