@use '../../Colors/Colors.scss';
@mixin margin-cards {
  margin: 20px auto;
}
@mixin border-container-img {
  border-radius: 10px;
}
@mixin border-article-title {
  border-radius: 25px;
}
.cards-container {
  margin: 3em;
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 271px;
  gap: 64px;
  background-color: #f6f6f6;
  &__navlink {
    display: flex;
    align-items: center;
    justify-content: center;

    &--article {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .article__img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        @include border-container-img;
      }
      .article__container {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(
          to bottom,
          rgba(Colors.$black, 0.2),
          rgba(Colors.$black, 0.4)
        );
        border-radius: 0 0 10px 10px;
        height: 5em; //si le txt dois dépasser revoir la hauteur

        &--title {
          width: 80%;
          color: Colors.$white;
          @include border-article-title;
          margin-left: 8px;
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
        }
      }
    }
  }
}
