@use '../../Colors/Colors.scss';

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 730px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: Colors.$background-cards;
  text-align: center;
  overflow: hidden;
}
.cards-article {
  position: relative;
  border-radius: 25px;
  margin: 35px 30px 30px 30px;
  display: flex;
  flex-direction: column-reverse;
}
.cards-img {
  object-fit: cover;
  border-radius: 10px;
  width: 290px;
  height: 290px;
}
.cards-title {
  position: absolute;
  width: 200px;
  color: Colors.$white;
  background-color: rgba(Colors.$color-1, $alpha: 0.9);
  border-radius: 25px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 0.5em;
}
