@use '../../Colors/Colors.scss';
@mixin collapse-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: Colors.$color-1;
  width: 1023px;
  border-radius: 5px;
  color: Colors.$white;
  margin-top: 40px;
}
@mixin collapse-title {
  margin-left: 20px;
}
@mixin collapse-btn-close {
  cursor: pointer;
  margin: 20px;
  transform: rotate(0deg);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin collapse-btn-open {
}
.collapse-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  .collapse-fiability {
    @include collapse-content;
    &__title {
      @include collapse-title;
    }
    &__btn {
      @include collapse-btn-close;
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  .collapse-respect {
    @include collapse-content;
    &__title {
      @include collapse-title;
    }
    &__btn {
      @include collapse-btn-close;
    }
  }
  .collapse-services {
    @include collapse-content;
    &__title {
      @include collapse-title;
    }
    &__btn {
      @include collapse-btn-close;
    }
  }
  .collapse-security {
    @include collapse-content;
    &__title {
      @include collapse-title;
    }
    &__btn {
      @include collapse-btn-close;
    }
  }
  .collapse-fiability__content {
    background-color: Colors.$background-cards;
    width: 1023px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      visibility 0s linear 450ms,
      opacity 450ms ease,
      transform 450ms ease;

    &.open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition:
        visibility 0s linear 0s,
        opacity 450ms ease,
        transform 450ms ease;
    }
  }
}
