@use '../../Colors/Colors.scss';
@use '../../Main.scss';

@mixin collapse {
  .collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: Colors.$color-1;
    border-radius: 6px;
    color: Colors.$white;
    margin-top: 40px;
    @include Main.media-querries-tablette {
      margin-top: 25px;
    }
    @include Main.media-querries-phone {
      margin-top: 15px;
    }
    &__header--title {
      margin-left: 20px;
      @include Main.media-querries-phone {
        font-size: 13px;
      }
    }
    &__header--btn {
      position: absolute;
      font-size: 32px;
      width: auto;
      right: 20px;
      top: 0px;
      cursor: pointer;
      margin: 20px;
      transform: rotate(0deg);
      transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
      @include Main.media-querries-phone {
        right: 5px;
        top: -10px;
        width: 20px;
      }
      &.open {
        transform: rotate(-180deg);
      }
    }
    &__content {
      background-color: Colors.$background-cards;
      max-height: 0;
      border-radius: 0 0 5px 5px;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      transition:
        opacity 450ms,
        max-height 100ms;
      &.open {
        visibility: visible;
        color: Colors.$black;
        opacity: 1;
        max-height: 300px;
        padding: 15px;
      }
    }
  }
}
.collapse-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @include collapse;
}
.collapse-accomodation {
  display: flex;
  flex-direction: row;
  @include Main.media-querries-phone {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .collapse-container {
    width: 100%;
    display: flex;
    gap: 30px;
    @include Main.media-querries-phone {
      display: block;
    }
  }
  @include collapse;
  .accomodations-info-body__collapses--equipment {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
